<?xml version='1.0' encoding='utf-8'?>
<widget id="la.mia.app" version="0.2.0">
  <name>MyRenaultAndroid</name>
  <description>
    Renault remote control from android
  </description>
  <author email="jumpjack@libero.it" href="https://autoguida.wordpress.com">
    Jumpjack
  </author>
  <plugin name="cordova-plugin-local-notifications" spec="latest" />
</widget>
