<?xml version='1.0' encoding='utf-8'?>
<widget id="it.jumpjack.RenaultRemote" version="1.0.0">
  <name>RenaultRemote</name>
  <description>
    Advanced remote management of Renault Electric Vehicles
  </description>
  <author email="jumpjack@libero.it" href="https://jumpjack.wordpress.com">
    Jumpjack
  </author>
</widget>
